@media print {
    @page {
        size: landscape;
        margin: 0;
    }

    .scale-0-8 {
        transform: scale(0.8);
    }

    body {
        font-size: .45em;
        font-weight: bold;
    }

    .card-header {
        padding-bottom: 0;
    }
}
